h1{
    border:1px solid red;
}
p{
    border:2px dashed blue;
    padding: 5px;
    text-indent:10px;
}
p::first-letter{
    font-size:2em;
}
span{
    background-color: hotpink;
    border: 1px solid skyblue;
}